.todo-header, .todo-description {
  cursor: pointer;
}

.todo-item {
  width: 100%;
  margin-block: 1rem;
}

.todo-item .todo-title {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
}

.todo-item .todo-details .todo-description {
  font-size: 1rem;
}

.todo-item .todo-priority-select, .todo-item .todo-date-input {
  display: none;
}

.todo-header .check-todo:checked ~ .todo-title {
  text-decoration: line-through;
  color: grey;
}